.test1 {font-family: 'Slabo 27px', serif;
        font-size: 100px;}
.test2 {font-family: 'Slabo 27px', serif;
        font-size: 30px;}
.test3 {font-family: 'Slabo 27px', serif;
        font-size: 10px;}
.test4 {font-family: 'Slabo 27px', serif;
        font-size: 5px;}

